@import 'fonts';

main {
    width: 80%;
}

.main__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    width: 100%;
    max-height: 600px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.main__title {
    font-size: 40px;
    line-height: 60px;
    font-weight: bold;
}

.span__blue {
    color: $span-color;
}

.small__bold {
    color: $span-color;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 50px;
    letter-spacing: -0.42px;
}

.small__italic {
    font-size: 18px;
    opacity: 60%;
    font-style: italic;
}

.svg {
    opacity: 60%;
}

.text {
    font-size: 16px;
    line-height: 26px;
    padding-top: 20px;
}

.card1 {
    width: 70%;
}

.card2 {
    width: 30%;
}


.large-img {
    width: 100%;
}


.info__row {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #eeeeee;
}

.label {
    color: $hover-color;
    font-size: 14px;
    text-align: left;
}

.value {
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    flex-basis: 50%;
}

.img__row {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
    max-width: 100%;
    overflow: hidden;
}

.img__row img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    font-family: "Mulish", serif;
    font-weight: bold;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid rgb(117, 117, 117);
    background: transparent;
    color: $main-color;
    display: flex;
    outline: none;
}

button {
    font-family: "Mulish", serif;
    font-weight: bold;
    color: #FFFFFF;
    width: 125px;
    height: 50px;
    background-color: $span-color;
    border: none;
    margin-top: 20px;

    &:hover {
        background-color: $hover-color;
    }
}

h3 {
    font-size: 28px;
    font-weight: bold;
    line-height: 38px;
}
.categories {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.category {
    font-size: 16px;
    line-height: 30px;
    opacity: 60%;
}


.grid__container {
    display: grid;
    grid-template-columns: repeat(9);
    grid-template-rows: repeat(32);
    grid-gap: 10px;
    width: 100%;
}

.rectangle {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.grid1 {
    grid-column: 1 / span 3;
    grid-row: span 7;
}

.grid2 {
    grid-column: 4 / span 3;
    grid-row: span 6;
}

.grid3 {
    grid-column: 7 / span 3;
    grid-row: span 10;
}

.grid4 {
    grid-column: 1 / span 3;
    grid-row: 8 / span 8;
}

.grid5 {
    grid-column: 4 / span 3;
    grid-row: 7 / span 7;
}

.grid6 {
    grid-column: 7 / span 3;
    grid-row: 11 / span 7;
}

.grid7 {
    grid-column: 1 / span 3;
    grid-row: 16 / span 8;
}

.grid8 {
    grid-column: 4 / span 3;
    grid-row: 14 / span 9;
}

.grid9 {
    grid-column: 7 / span 3;
    grid-row: 18 / span 9;
}

.grid10 {
    grid-column: 1 / span 3;
    grid-row: 24 / span 9;
}

.grid11 {
    grid-column: 4 / span 3;
    grid-row: 23 / span 10;
}

.grid12 {
    grid-column: 7 / span 3;
    grid-row: 27 / span 6;
}


.grid__2 {
    display: grid;
    grid-template-columns: 300px 150px 150px 150px;
    grid-template-rows: 100px 100px;
    grid-gap: 80px;
    width: 90%;
    border-top: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    padding: 50px;
}

.first {
    grid-column: 1 / 2;
    grid-row: 1;
}

.second {
    grid-column: 2 / 3;
    grid-row: 1;
}

.third {
    grid-column: 3 / 4;
    grid-row: 1;
}

.fourth {
    grid-column: 4 / 5;
    grid-row: 1;
}

.fifth {
    grid-column: 2 / 3;
    grid-row: 2;
}

.sixth {
    grid-column: 3 / 4;
    grid-row: 2;
}

.seventh {
    grid-column: 4 / 5;
    grid-row: 2;
}


.awards {
    font-weight: bold;
    font-size: 22px;
}

.site {
    font-weight: bold;
    font-size: 18px;
}

.regular {
font-size: 16px;
}

.light {
margin-top: 5px;
font-size: 16px;
opacity: 60%;
line-height: 26px;
}